.selector {
  display: flex;
  justify-content: start;
  margin: 10px;
}
.inputdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.todo {
  display: flex;
  justify-content: space-between;
  border: 0.2px solid rgba(0, 0, 0, 0.115);
  background-color: rgba(255, 255, 255, 0.331);
  padding: 1px 4px 0px 4px;
  margin-top: 3px;

}
.formDiv {
margin-bottom: 10px;

}
.textTodo {
  width: 25%;
}
.titleTodo {
  width: 10%;
}
.btn {
  margin-top: 35px;
}
@media screen and (max-width: 800px) {
  .inputdiv {
    flex-direction: column;
  }
  .btn {
    margin-top: 10px;
  }
}