.selector {
  display: flex;
  justify-content: start;
  gap: 5px;
}
.inputdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formDiv {
margin-bottom: 10px;
}
.textTodo {
  width: 25%;
}
.titleTodo {
  width: 10%;
}
.btn {
  margin-top: 35px;
}
@media screen and (max-width: 800px) {
  .inputdiv {
    flex-direction: column;
  }
  .btn {
    margin-top: 10px;
  }
  .selector {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
  }
}